<div class="container" ><h1>ngSubmit</h1>
<form [formGroup]="userprofile" (ngSubmit)="onsubmit()">
    <div class="formGroup">
        <label for="Fname" >Firstname</label><br>
        <input type="text" FormControlname="firstname" class="formcontrol">
    </div>
    <div>
        <label for="Lname" >lastname</label><br>
        <input type="text" FormControlname="lastname" class="formcontrol">
    </div>
    <div>
        <label for="Age" >Age</label><br>
        <input type="text" FormControlname="Age" class="formcontrol">
    </div>
    <div>
        <label for="email" >Email</label><br>
        <input type="text" FormControlname="email" class="formcontrol">
        
    </div>
   
    <button type="submit" [disabled]= "userprofile.valid" >Submit</button>
</form>
</div>

<h2>NgModel</h2>
<div class="contaniner">
    <h1>Registration Form</h1>
    <form #login="ngForm" >
        <div class="formgroup">
            <label for="firstname" >Firstname</label><br>
            <input #Fname="ngModel" required minlength="2" maxlength="10" type="text" name="firstname" class="formcontrol" ngModel>
            <div *ngIf="Fname.touched && Fname.invalid" class="alert alert-danger">Firstname Required</div>
        </div>
        <pre></pre>
        <div class="formgroup">
            <label for="lastname" >Lastname</label><br>
            <input #lname="ngModel" required minlength="2" maxlength="10" type="text" name="lastname" class="formcontrol" ngModel>
            <div *ngIf="lname.touched && lname.invalid" class="alert alert-danger">Lastname Required</div>
        </div>
        <pre></pre>
        <div class="formgroup">
            <label for="email">Mail</label><br>
            <input #email="ngModel"  type="text" required minlength="10" maxlength="20" name="email" class="formcontrol" ngModel>
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger" >EmailID Required</div>        
        </div>
        <pre></pre>
        <div class="formgroup">
            <label for="password" >Password</label><br>
            <input #paswrd="ngModel" type="password" required minlength="5" name="password" class="formcontrol" ngModel>
            <div *ngIf="paswrd.touched && paswrd.invalid" class="alert alert-danger">Password Required</div>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submitt">submit</button>
    </form>

   
</div>
