<div>
    <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
    &nbsp;&nbsp;
    <button mat-raised-button [matMenuTriggerData]="{name: 'Jack', hobby: 'Football'}" [matMenuTriggerFor]="liteMenu">Joy</button>
<button mat-raised-button [matMenuTriggerData]="{name: 'Programmer',hobby: 'Developer'}" [matMenuTriggerFor]="liteMenu">Developer</button>
    <button (click)="Openpop()" mat-raised-button color="primary">Open</button>
    <br>&nbsp; &napprox;
    <span matBadge="5" >Notifications</span>
    
</div>


<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [(opened)]="opened">Sidenav
        <!-- matIcon -->
        <p><mat-icon  fontIcon="home"></mat-icon>Home</p>
        <p><mat-icon  fontIcon="folder"></mat-icon>Folder</p>
        <p><mat-icon  fontIcon="settings"></mat-icon>Settings</p>
        <p><mat-icon  fontIcon="speaker"></mat-icon>Announcement</p>
    </mat-sidenav>
    <mat-sidenav-content>MainContent
        <button (click)="opened =!opened">Toggle Opened</button>
        <button (click)="sidenav.toggle()">Toggle</button>
        
        <!-- Mat Stepper -->
<mat-horizontal-stepper>
    <mat-step label="Shipping Address">Shipping Address</mat-step>
    <mat-step label="Billing Address">Billing Address
        <div>
            <button mat-button matStepperPrevious>Back</button>&nbsp;
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Place Order">Order Details</mat-step>
</mat-horizontal-stepper>
        <!-- mat list  -->
<mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">Service</a>
    <a mat-list-item href="#">About</a>
</mat-nav-list>

    </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
    <button mat-menu-item>BackEnd</button>
</mat-menu>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item>Angular</button>
    <button mat-menu-item>React</button>
    <button mat-menu-item>Nodejs</button>
</mat-menu>
<mat-menu #liteMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Hobby is {{hobby}}</button>
    <button mat-menu-item>Logout {{name}}</button>
</ng-template>
</mat-menu>

